h1{
    margin-left: 43%;
    width: 20%;
                                                        /* padding: 1%; */
    text-align: center;
    color: #3c5893;
    /* margin-top: 2px; */
    font-family: 'roboto', sans-serif;
    background: white;
    }
    /* #body{
        background-color: #3c5893;
    } */
    
    h5{
        color:#3c5893;
        font-family: 'roboto', sans-serif;
        text-align: center;
        margin-bottom:1%;
    }
    
    #container{
       max-width: 970px;
        margin-top: 70px;
        font-family: 'roboto', sans-serif;
        margin-bottom: 40px;
       
        padding-left: 10%; 
        /* background-color: #3c5893; */

    }
    #col-md-2{
        /* margin-top: 100%; */
        width: 355px;
        margin-bottom: 20px; 
        margin-left: 2%;
    
    }
    .png1{
        /* width: 80px;
        margin-left: 50px;
        margin-bottom: 45px;
        padding-bottom: 6px; */
    text-align: center;
        width: 90px;
        margin-left: 112px;
        margin-bottom: 0px;
        padding-bottom: 12px;
    
        
    }
    #input {
        width: 60%;
        margin-left: 10px;
        padding: 10px 20px;
        color: black;
        background: white;
        border: none;
        border-bottom: 1px solid black;
      }
    
    
      input[type=text]{
          outline: none;
      }
    
    /* body{
        background-color:  #3c5893;
    
    } */
    
    
    
    
    @media screen and (max-width: 1000px) {
        .row{
            margin: 0 0 0 10%;
        }
    }
    @media screen and (max-width: 590px) {
        .row{
            margin: 0 0 0 14%;
        }
    
    }
    
    
    
    